/*Meeran Haq, Student Number: 8711306 */

/*
body {
    font: small-caps, italic, bold;
    background-color: hsla(150, 50%, 50%, 0.8);
    height: 50vh;
    width: 80vw;
}
*/

main {
    float: left;
    width: 23.5em;
    background-color: hsl(0, 63%, 82%);
}

header {
    background-color: hsl(302, 12%, 60%);
}

aside {
    float:right;
    width: 20em;
    height:17.3vh;
    background-color: hsl(120, 71%, 74%);
}

footer {
    position: absolute;
    top: 550px;
    width: 51.5em;
    background-color: hsl(255, 56%, 78%);
}

footer p {
    color:rgb(156, 22, 34);
    font-size: smaller;
}

h2 {
    margin-left: 25px;
    color: #c35;
    font-size: width 50%, length 50%;
}

.structural {
    padding: 50px;
    border: 5px solid green;
    margin: 10px;
}

#paragraphcolor1 {
    color:rgb(24, 151, 160);
}

#paragraphcolor2 {
    color: rgb(34, 189, 55);
}

a:hover {
    color: #a94;
}