/*Meeran Haq, Student Number: 8711306 */

/*
body {
    font: small-caps, italic, bold;
    background-color: hsla(150, 50%, 50%, 0.8);
    height: 50vh;
    width: 80vw;
}
*/

main {
    float: left;
    width: 25em;
}

aside {
    float:right;
    width: 15em;
}

footer {
    width: 15em;
}

h2 {
    margin-left: 25px;
    color: #c35;
    font-size: width 50%, length 50%;
}

.structural {
    padding: 50px;
    border: 5px solid green;
    margin: 10px;
}

#one {
    color: rgb(rgb(236, 14, 14), rgb(83, 190, 83), rgb(36, 36, 197));
}

#two {
    color: rgb(rgb(4, 238, 140), rgb(72, 75, 223), rgb(234, 234, 243));
}